.Basic {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  &__Game {
    // background-color: green;
    margin: 0 auto;
    width: 22rem;
    position: relative;
  }
  &__imgWrapper {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.Circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  border-bottom: 10px solid transparent;
  box-sizing: content-box;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

  &__imgWrapper {
    background-color: var(--WhiteColor);
    width: 12rem;
    height: 12rem;
    padding: 2.5rem;
    border-radius: 50%;
    border-top: 10px solid darken(rgb(225, 225, 225), 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
    }
  }

  &--1 {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    &:hover {
      cursor: pointer;
      transform: translate(-50%, calc(-50% + 10px));
      opacity: 0.8;
    }
  }

  &--2 {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    &:hover {
      cursor: pointer;
      transform: translate(50%, calc(-50% + 10px));
      opacity: 0.8;
    }
  }

  &--3 {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    &:hover {
      cursor: pointer;
      transform: translate(-50%, calc(50% + 10px));
      opacity: 0.8;
    }
  }

  &--Scissors {
    background-image: var(--ScissorsGradient);
    border-color: darken(hsl(39, 89%, 49%), 20%);
  }
  &--Paper {
    background-image: var(--PaperGradient);
    border-color: darken(hsl(230, 89%, 62%), 20%);
  }
  &--Rock {
    background-image: var(--RockGradient);
    border-color: darken(hsl(349, 71%, 52%), 20%);
  }
}

.Button {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 2rem;
  bottom: 2rem;
  color: var(--WhiteColor);
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 2px solid var(--WhiteColor);
  border-radius: 10px;
  padding: 1rem 4rem;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease-in-out;
  @media screen and (max-width: 450px) {
    bottom: 8rem;
  }

  &--2 {
    right: 22rem;
    @media screen and (max-width: 450px) {
      right: 2rem;
      bottom: 2rem;
    }
    padding: 0;
    a {
      text-decoration: none;
      display: block;
      padding: 1rem 4rem;
      color: var(--WhiteColor);
      transition: color 0.2s ease-in-out;
    }
    &:hover {
      a {
        color: var(--DarkText);
      }
      &::after {
        height: 100%;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    border-radius: 5px;
    background-color: var(--WhiteColor);
    transition: height 0.2s ease-in-out;
  }
  &:hover {
    color: var(--DarkText);
    &::after {
      height: 100%;
    }
  }
}
