.Button {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 2rem;
  bottom: 2rem;
  color: var(--WhiteColor);
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 2px solid var(--WhiteColor);
  border-radius: 10px;
  padding: 1rem 4rem;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease-in-out;
  @media screen and (max-width: 450px) {
    bottom: 8rem;
  }

  &--deactivated {
    opacity: 0.4;
    a {
      pointer-events: none;
    }
  }

  &--2 {
    right: 22rem;
    @media screen and (max-width: 450px) {
      right: 2rem;
      bottom: 2rem;
    }
    padding: 0;
    a {
      text-decoration: none;
      display: block;
      padding: 1rem 4rem;
      color: var(--WhiteColor);
      transition: color 0.2s ease-in-out;
    }
    &:hover {
      a {
        color: var(--DarkText);
      }
      &::after {
        height: 100%;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    border-radius: 5px;
    background-color: var(--WhiteColor);
    transition: height 0.2s ease-in-out;
  }
  &:hover {
    color: var(--DarkText);
    &::after {
      height: 100%;
    }
  }
}
